@page "/addMnemonic"

@using System.Text.Json
@using MindBlown.Types
@using static StringExtensions
@using System.Timers
@inject HttpClient HttpClient
@inject NavigationManager Navigation
@inject IJSRuntime JS
@* @inject MnemonicService MnemonicService *@
@* @inject LoggingService LoggingService *@
@* @inject ActiveUserClient ActiveUserClient *@
@inject AuthService AuthService
@using Services


<link rel="stylesheet" href="css/Mnemonics.css" />
<PageTitle>Add Mnemonics</PageTitle>

<!-- Display the active user count -->
<div style="display: flex;"> 
<div class="blinking-green-dot">
</div>
<div class="active-user-count">    
    <p>Active Users: @ActiveUserCount</p>
</div>
</div>



<form @onsubmit="OnSubmit">
<h1 id="main_name">@("mnemonics form".CapitalizeWords())</h1>
    <label for="HelperText">Helper text:</label>
    <input type="text" @onkeydown="@Enter" id="HelperText" name="HelperText" maxlength="256" @bind="Model.HelperText" required />
    <br />
    <label for="MnemonicText">Text to memorize:</label>
    <input type="text" id="MnemonoicText" name="MnemonicText" @bind="Model.MnemonicText"  maxlength="256" required />
    <br />
    
    <label for="category">Category:</label>
    <select id="category" @bind="Model.Category">
        @foreach (var category in Enum.GetValues(typeof(MnemonicCategory)).Cast<MnemonicCategory>())
        {
            <option value="@category">@category</option>
        }
    </select>
    @if(mnemonicAlreadyExists)
    {
        <br />
        <div class="invalid-input-message">@invalidInputMessage</div>
    }
    <br />
    <button type="submit">Submit</button>
    <button @onclick="RedirectToUpload" style="">Upload from JSON</button>
</form>

@if (successMessageIsVisible)
{
    <div class="success-meesage">@successMessage</div>
}

@if (errorMessageIsVisible)
{
    <div class="error-meesage">@errorMessage</div>
}

<h2>@("saved mnemonics".CapitalizeWords())</h2>
@if (showMnemonics)
{
    <table>
        @if (mnemonicsList != null && mnemonicsList.Count() > 0)
        {
            <tr>
                <th>Helper text</th>
                <th>Mnemonic</th>
                <th>Category</th>
                <th>Action</th>
            </tr>
            @foreach (var mnemonic in mnemonicsList)
            {
                <tr>
                    <td>@mnemonic.HelperText</td>
                    <td>@mnemonic.MnemonicText</td>
                    <td>@mnemonic.Category</td>
                    <td><button class="delete-button" @onclick="() => RemoveMnemonic(mnemonic.Id)">X</button></td>
                </tr>
            }
        }
        else
        {
            <p class="no-mnemonics">No mnemonics available.</p>
        }
    </table>
}

@* <button @onclick="LoadMnemonics">@("load mnemonics".CapitalizeWords())</button> *@
<button @onclick="DownloadJson">@("download as".CapitalizeWords()) JSON</button>
