@page "/addMnemonic"

@using System.Text.Json
@using static MnemonicsType
@using static StringExtensions
@inject HttpClient HttpClient
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<link rel="stylesheet" href="css/Mnemonics.css" />
<PageTitle>Add Mnemonics</PageTitle>

<form @onsubmit="OnSubmit">
<h1 id="main_name">@StringExtensions.CapitalizeWords("mnemonics form")</h1>
    <label for="textM">Helper text:</label>
    <input type="text" id="textM" name="textM" @bind="Model.TextM" required />
    <br />
    <label for="textW">Text to memorize:</label>
    <input type="text" id="textW" name="textW" @bind="Model.TextW" required />
    <br />
    
    <label for="category">Category:</label>
    <select id="category" @bind="Model.Category">
        @foreach (var category in Enum.GetValues(typeof(MnemonicCategory)).Cast<MnemonicCategory>())
        {
            <option value="@category">@category</option>
        }
    </select>
    @if(mnemonicAlreadyExists)
    {
        <br />
        <div class="invalid-input-message">@invalidInputMessage</div>
    }
    <br />
    <button type="submit">Submit</button>
</form>


<h2>@StringExtensions.CapitalizeWords("saved mnemonics")</h2>
@if (showMnemonics)
{
    <table>
        @if (mnemonicsList != null && mnemonicsList.Count > 0)
        {
            <tr>
                <th>Mnemonics text</th>
                <th>Whole text</th>
                <th>Category</th>
                <th>Action</th>
            </tr>
            @foreach (var mnemonic in mnemonicsList)
            {
                <tr>
                    <td>@mnemonic.TextM</td>
                    <td>@mnemonic.TextW</td>
                    <td>@mnemonic.Category</td>
                    <td><button class="delete-button" @onclick="() => RemoveMnemonic(mnemonic.Id)">X</button></td>
                </tr>
            }
        }
        else
        {
            <p>No mnemonics available.</p>
        }
    </table>
}

<button @onclick="LoadMnemonics">@StringExtensions.CapitalizeWords("load mnemonics")</button>

@code {
    private MnemonicsType Model { get; set; } = new MnemonicsType();
    private List<MnemonicsType> mnemonicsList = new List<MnemonicsType>();
   //gali neprireikt private List<MnemonicsType> loadedMnemonicsList = new List<MnemonicsType>();
    private bool showMnemonics = false;
    private bool mnemonicAlreadyExists; 
    private string invalidInputMessage = "Mnemonic with given TextM already exists.";

    private async Task OnSubmit()
    {
        // Getting mnemonics from local storage
        var existingMnemonics = await localStorage.GetItemAsync<List<MnemonicsType>>("userMnemonics") ?? new List<MnemonicsType>();
        
        mnemonicAlreadyExists = existingMnemonics.Where(m => m.TextM == Model.TextM).Count() > 0;

        if(mnemonicAlreadyExists)
        {
            await localStorage.SetItemAsync("userMnemonics", existingMnemonics);
            Model = new MnemonicsType();
            return;
        }

        var newMnemonic = new MnemonicsType
        {
            Id = Guid.NewGuid(),
            TextM = Model.TextM,
            TextW = Model.TextW,
            Category = Model.Category
        };

        existingMnemonics.Add(newMnemonic);

        // save the values to local storage
        await localStorage.SetItemAsync("userMnemonics", existingMnemonics);

        // clear for new input
        Model = new MnemonicsType();
    }

    private async Task LoadMnemonics()
    {
        // read the value as list
        mnemonicsList = await localStorage.GetItemAsync<List<MnemonicsType>>("userMnemonics") ?? new List<MnemonicsType>();

        // Show the mnemonics after loading
        showMnemonics = true;
    }

    private async Task RemoveMnemonic(Guid mnemonicId)
    {
        var existingMnemonics = await localStorage.GetItemAsync<List<MnemonicsType>>("userMnemonics") ?? new
        List<MnemonicsType>();

        var mnemonicToRemove = existingMnemonics.FirstOrDefault(m => m.Id == mnemonicId);
        if (mnemonicToRemove != null)
        {
            existingMnemonics.Remove(mnemonicToRemove);
            await localStorage.SetItemAsync("userMnemonics", existingMnemonics);

            // Refresh the mnemonics list after removal
            mnemonicsList = existingMnemonics;
        }
    }
}
